<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hcx.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.hcx.bean.Order" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_user_id" property="orderUserId" jdbcType="INTEGER" />
    <result column="order_lent_cupboard_id" property="orderLentCupboardId" jdbcType="INTEGER" />
    <result column="order_pobk_id" property="orderPobkId" jdbcType="INTEGER" />
    <result column="order_create_time" property="orderCreateTime" jdbcType="TIMESTAMP" />
    <result column="order_revert_location_id" property="orderRevertLocationId" jdbcType="INTEGER" />
    <result column="order_finish_time" property="orderFinishTime" jdbcType="TIMESTAMP" />
    <result column="order_cost_id" property="orderCostId" jdbcType="INTEGER" />
    <result column="order_has_finished" property="orderHasFinished" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    order_id, order_user_id, order_lent_cupboard_id, order_pobk_id, order_create_time, 
    order_revert_location_id, order_finish_time, order_cost_id, order_has_finished
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hcx.bean.OrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hcx.bean.OrderExample" >
    delete from order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hcx.bean.Order" >
    insert into order (order_id, order_user_id, order_lent_cupboard_id, 
      order_pobk_id, order_create_time, order_revert_location_id, 
      order_finish_time, order_cost_id, order_has_finished
      )
    values (#{orderId,jdbcType=INTEGER}, #{orderUserId,jdbcType=INTEGER}, #{orderLentCupboardId,jdbcType=INTEGER}, 
      #{orderPobkId,jdbcType=INTEGER}, #{orderCreateTime,jdbcType=TIMESTAMP}, #{orderRevertLocationId,jdbcType=INTEGER}, 
      #{orderFinishTime,jdbcType=TIMESTAMP}, #{orderCostId,jdbcType=INTEGER}, #{orderHasFinished,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hcx.bean.Order" >
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderUserId != null" >
        order_user_id,
      </if>
      <if test="orderLentCupboardId != null" >
        order_lent_cupboard_id,
      </if>
      <if test="orderPobkId != null" >
        order_pobk_id,
      </if>
      <if test="orderCreateTime != null" >
        order_create_time,
      </if>
      <if test="orderRevertLocationId != null" >
        order_revert_location_id,
      </if>
      <if test="orderFinishTime != null" >
        order_finish_time,
      </if>
      <if test="orderCostId != null" >
        order_cost_id,
      </if>
      <if test="orderHasFinished != null" >
        order_has_finished,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderUserId != null" >
        #{orderUserId,jdbcType=INTEGER},
      </if>
      <if test="orderLentCupboardId != null" >
        #{orderLentCupboardId,jdbcType=INTEGER},
      </if>
      <if test="orderPobkId != null" >
        #{orderPobkId,jdbcType=INTEGER},
      </if>
      <if test="orderCreateTime != null" >
        #{orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderRevertLocationId != null" >
        #{orderRevertLocationId,jdbcType=INTEGER},
      </if>
      <if test="orderFinishTime != null" >
        #{orderFinishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCostId != null" >
        #{orderCostId,jdbcType=INTEGER},
      </if>
      <if test="orderHasFinished != null" >
        #{orderHasFinished,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hcx.bean.OrderExample" resultType="java.lang.Integer" >
    select count(*) from order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update order
    <set >
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.orderUserId != null" >
        order_user_id = #{record.orderUserId,jdbcType=INTEGER},
      </if>
      <if test="record.orderLentCupboardId != null" >
        order_lent_cupboard_id = #{record.orderLentCupboardId,jdbcType=INTEGER},
      </if>
      <if test="record.orderPobkId != null" >
        order_pobk_id = #{record.orderPobkId,jdbcType=INTEGER},
      </if>
      <if test="record.orderCreateTime != null" >
        order_create_time = #{record.orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderRevertLocationId != null" >
        order_revert_location_id = #{record.orderRevertLocationId,jdbcType=INTEGER},
      </if>
      <if test="record.orderFinishTime != null" >
        order_finish_time = #{record.orderFinishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderCostId != null" >
        order_cost_id = #{record.orderCostId,jdbcType=INTEGER},
      </if>
      <if test="record.orderHasFinished != null" >
        order_has_finished = #{record.orderHasFinished,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update order
    set order_id = #{record.orderId,jdbcType=INTEGER},
      order_user_id = #{record.orderUserId,jdbcType=INTEGER},
      order_lent_cupboard_id = #{record.orderLentCupboardId,jdbcType=INTEGER},
      order_pobk_id = #{record.orderPobkId,jdbcType=INTEGER},
      order_create_time = #{record.orderCreateTime,jdbcType=TIMESTAMP},
      order_revert_location_id = #{record.orderRevertLocationId,jdbcType=INTEGER},
      order_finish_time = #{record.orderFinishTime,jdbcType=TIMESTAMP},
      order_cost_id = #{record.orderCostId,jdbcType=INTEGER},
      order_has_finished = #{record.orderHasFinished,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hcx.bean.Order" >
    update order
    <set >
      <if test="orderUserId != null" >
        order_user_id = #{orderUserId,jdbcType=INTEGER},
      </if>
      <if test="orderLentCupboardId != null" >
        order_lent_cupboard_id = #{orderLentCupboardId,jdbcType=INTEGER},
      </if>
      <if test="orderPobkId != null" >
        order_pobk_id = #{orderPobkId,jdbcType=INTEGER},
      </if>
      <if test="orderCreateTime != null" >
        order_create_time = #{orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderRevertLocationId != null" >
        order_revert_location_id = #{orderRevertLocationId,jdbcType=INTEGER},
      </if>
      <if test="orderFinishTime != null" >
        order_finish_time = #{orderFinishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCostId != null" >
        order_cost_id = #{orderCostId,jdbcType=INTEGER},
      </if>
      <if test="orderHasFinished != null" >
        order_has_finished = #{orderHasFinished,jdbcType=INTEGER},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hcx.bean.Order" >
    update order
    set order_user_id = #{orderUserId,jdbcType=INTEGER},
      order_lent_cupboard_id = #{orderLentCupboardId,jdbcType=INTEGER},
      order_pobk_id = #{orderPobkId,jdbcType=INTEGER},
      order_create_time = #{orderCreateTime,jdbcType=TIMESTAMP},
      order_revert_location_id = #{orderRevertLocationId,jdbcType=INTEGER},
      order_finish_time = #{orderFinishTime,jdbcType=TIMESTAMP},
      order_cost_id = #{orderCostId,jdbcType=INTEGER},
      order_has_finished = #{orderHasFinished,jdbcType=INTEGER}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>