<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hcx.dao.PowerbankMapper" >
  <resultMap id="BaseResultMap" type="com.hcx.bean.Powerbank" >
    <id column="pobk_id" property="pobkId" jdbcType="INTEGER" />
    <result column="pobk_cupboard_id" property="pobkCupboardId" jdbcType="INTEGER" />
    <result column="pobk_status" property="pobkStatus" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pobk_id, pobk_cupboard_id, pobk_status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hcx.bean.PowerbankExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from powerbank
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from powerbank
    where pobk_id = #{pobkId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from powerbank
    where pobk_id = #{pobkId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hcx.bean.PowerbankExample" >
    delete from powerbank
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hcx.bean.Powerbank" >
    insert into powerbank (pobk_id, pobk_cupboard_id, pobk_status
      )
    values (#{pobkId,jdbcType=INTEGER}, #{pobkCupboardId,jdbcType=INTEGER}, #{pobkStatus,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hcx.bean.Powerbank" >
    insert into powerbank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pobkId != null" >
        pobk_id,
      </if>
      <if test="pobkCupboardId != null" >
        pobk_cupboard_id,
      </if>
      <if test="pobkStatus != null" >
        pobk_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pobkId != null" >
        #{pobkId,jdbcType=INTEGER},
      </if>
      <if test="pobkCupboardId != null" >
        #{pobkCupboardId,jdbcType=INTEGER},
      </if>
      <if test="pobkStatus != null" >
        #{pobkStatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hcx.bean.PowerbankExample" resultType="java.lang.Integer" >
    select count(*) from powerbank
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update powerbank
    <set >
      <if test="record.pobkId != null" >
        pobk_id = #{record.pobkId,jdbcType=INTEGER},
      </if>
      <if test="record.pobkCupboardId != null" >
        pobk_cupboard_id = #{record.pobkCupboardId,jdbcType=INTEGER},
      </if>
      <if test="record.pobkStatus != null" >
        pobk_status = #{record.pobkStatus,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update powerbank
    set pobk_id = #{record.pobkId,jdbcType=INTEGER},
      pobk_cupboard_id = #{record.pobkCupboardId,jdbcType=INTEGER},
      pobk_status = #{record.pobkStatus,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hcx.bean.Powerbank" >
    update powerbank
    <set >
      <if test="pobkCupboardId != null" >
        pobk_cupboard_id = #{pobkCupboardId,jdbcType=INTEGER},
      </if>
      <if test="pobkStatus != null" >
        pobk_status = #{pobkStatus,jdbcType=CHAR},
      </if>
    </set>
    where pobk_id = #{pobkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hcx.bean.Powerbank" >
    update powerbank
    set pobk_cupboard_id = #{pobkCupboardId,jdbcType=INTEGER},
      pobk_status = #{pobkStatus,jdbcType=CHAR}
    where pobk_id = #{pobkId,jdbcType=INTEGER}
  </update>

    <select id="selectOne" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from powerbank
    where pobk_cupboard_id = #{id}
    AND pobk_status="available"
    order by pobk_id asc limit 0,1
    </select>
</mapper>